{% extends 'base.html.twig' %}

{% block title %} Projet symfony M1 Twitter {% endblock %}

{%  block body  %}
    <ul>
    {% for post in posts %}
        <li>{{ post.author }} - {{ post.createdAt }} </li>
        <div>{{post.content}}</div>
    {% else %}
        <li>Aucun produit trouvé.</li>
    {% endfor %}
</ul>
{% endblock %}