nelmio_api_doc:
  documentation:
    info:
      title: 'Projet Twitter mais en mieux'
      description: 'Credit : Kilian , Corentin , Florent'
      version: '1.0.0'

  areas:
    default:
      path_patterns: [ ^/api ]  # â† pour inclure toutes les routes
