nelmio_api_doc:
  documentation:
    info:
      title: 'le projet de kilian, corentin et florent '
      description: 'Api dans le cadre du projet X (twitter mais en mieux)'
      version: '1.0.0'

  areas:
    default:
      path_patterns: [ ^/api ]  # â† pour inclure toutes les routes
