{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    <form method="post">
        <label>Username:</label>
        <input type="text" name="username" value="{{ user.username }}" required>

        <label>Email:</label>
        <input type="email" name="email" value="{{ user.email }}" required>

        <button type="submit">Update</button>
    </form>

    <a href="{{ path('app_user_frontend_index') }}">Back to list</a>
{% endblock %}